.save-button-div {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 10px;
}

.save-button-div button {
	width: 100%; /* Adjust this value to your liking */
	/*font-weight: bold;*/
}

.spin-animation {
	animation: spin 10s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon-wrapper {
	position: relative;
	max-width: 18px;
	max-height: 18px;
}

.icon-text {
	margin-right: 5px;
/ / You can adjust the value to your preference
}

.slash {
	position: absolute;
	top: 0;
	left: 0;
}

.search {
	width: calc(100% - 20px);
}

/* Common styles for both containers */
.resizable {
	resize: vertical;
	overflow: auto;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 16px;
	margin-bottom: 16px;
	height: 300px; /* Default height */
}

/* Staged changes container */
.staged-changes {
	height: 30%;
}

/* Unstaged changes container */
.unstaged-changes {
	height: 30%;
}

.folder-line, .file-item {
	display: flex;
	align-items: center;
	min-height: 24px;
}

.folder-line div, .line-section {
	width: 21px;
	height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-container div {
	width: 16px; /* Or your desired dimensions */
	height: 16px; /* Or your desired dimensions */
	margin: 0;
}

.folder-file-count {
	margin-left: 6px;
	color: rgba(110, 114, 108, 1);
}

.no-margin {
	margin: 0 !important;
}

.item-text {
	margin-left: 3px;
}

.added {
	color: rgba(97, 140, 68, 1);
}

.modified {
	color: rgba(103, 150, 182, 1);
}

.deleted {
	color: rgba(208, 97, 72, 1);
}
