.save-button-div {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 10px;
}

.save-button-div button {
	width: 100%; /* Adjust this value to your liking */
	/*font-weight: bold;*/
}

.spin-animation {
	animation: spin 10s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon-wrapper {
	position: relative;
	max-width: 18px;
	max-height: 18px;
}

.icon-text {
	margin-right: 5px;
}

.slash {
	position: absolute;
	top: 0;
	left: 0;
}

.search {
	width: calc(100% - 20px);
}

.sync-ribbon{
	display: inline-flex;
	padding: 15px 0 15px 0;
}
.sync-ribbon button{
	margin-left: 5px;
	margin-right: 5px;
}

.changes-root {
	resize: both;
	overflow: auto;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 16px;
	margin-bottom: 16px;
	height: 300px; /* Default height */
}

.changes-element{
	padding-left: 0;
}

.change-element-div {
	display: flex;
	min-height: 24px;
}

.change-element-arrow{
	margin-right:6px;
}

.change-element-icon-span{
	margin-right: 6px;
}

.new {
	color: rgba(97, 140, 68, 1);
}

.modified {
	color: rgba(103, 150, 182, 1);
}

.deleted {
	color: rgba(208, 97, 72, 1);
}

.commit-button-div button {
	width: 100%;
}
